CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_MBEDTLS_SHA1_C=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_M5AUTH_SECURITY_BACKEND_PRODUCTION=y
# CONFIG_M5AUTH_SECURITY_BACKEND_DEV is not set
CONFIG_M5AUTH_HMAC_KEY_ID=0
